<nav class="d-flex flex-column p-3 bg-light vh-100" style="width: 220px; min-height: 100vh;">
  <h4 class="mb-4">Pizza App</h4>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/pizza-types" routerLinkActive="active" class="nav-link">
        <i class="bi bi-pizza"></i> Pizza Types
      </a>
    </li>
    <li>
      <a routerLink="/pizzas" routerLinkActive="active" class="nav-link">
        <i class="bi bi-cup-straw"></i> Pizzas
      </a>
    </li>
    <li>
      <a routerLink="/orders" routerLinkActive="active" class="nav-link">
        <i class="bi bi-card-list"></i> Orders
      </a>
    </li>
    <li>
      <a routerLink="/order-details" routerLinkActive="active" class="nav-link">
        <i class="bi bi-basket"></i> Order Details
      </a>
    </li>
  </ul>
</nav>
